/**
* Se estilo al body
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

/**
* Se estilo a las etiquetas form
*/

.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border-radius: 50px !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

/**
* Se estilo a los botones
*/

.btn {
  border-radius: 0.3rem !important;
}

/**
* Se estilo al head y menu
*/

.navbar-collapse {
  width: 50% !important;
}

.head-model {
  padding: auto;
  box-shadow: 0px 10px 10px #264d9f;
  margin-bottom: 20px;
}

/**
* Estilo para zoom de imagenes
*/

.zoom {
  transition: .5s;
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3.7, 2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/**
* Estilo @media only screen and (max-width : 600PX)
*/

@media only screen and (max-width : 600PX) {

  /**
  * Estilo etiquetas body, div. h5
  */

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

  div {
    font-size: small;
  }

  h5 {
    width: 80%;
  }

  /**
  * Estilo para zoom 
  */

  .zoom:hover {
    transform: scale(1.7);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}


/**
* Se da forma a las etiquetas .card
*/

.card {
  padding: auto;
  background-color: white;
  box-shadow: 0px 10px 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background-color: white;
}


/**
* Se da tamaño a la foto de perfil
*/

.imgPerfil {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
}

/**
* Se da aspecto a las tablas del proyecto
*/
div.dt-buttons {
  margin-bottom: 1%;
  width: 50%;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
  margin-right: 0.5%;
}

/**
* Se da aspecto a los input
*/
input{
  background-color: transparent  !important;
  border-radius: 1rem;
  border: 1px solid #ced4da;
}